.event-calendar-day
{
	margin-top: 30px;
}

.event-calendar-day .event
{
	margin-bottom: 20px;
	padding-bottom: 20px;
	
	border-bottom: 1px dashed #999;
}

.event-calendar-day .event .title
{
	font-size: 18px;
	color: #000;
}

.event-calendar-day .event .summary
{
	margin-top: 20px;
	padding-left: 20px;
	
	font-size: 13px;
	color: #333;
}

.event-calendar-day .event .info
{
	margin-top: 20px;
	padding-left: 20px;
}
