.event-calendar-month
{
}

.event-calendar-month table
{
	margin: 30px 0;
	width: 100%;
	
	border-collapse: separate;
	border-spacing: 5px;
}

.event-calendar-month table > thead > tr > th
{
	width: 14.25%;
	height: 30px;
}

.event-calendar-month table > tbody > tr > td
{
	height: 70px;
	
	text-align: center;
	
	color: #333;
}

.event-calendar-month table > tbody > tr > td.out-of-month
{
	border-color: #ddd;
	color: #ddd;
}

.event-calendar-month table > tbody > tr > td.weekend
{
	color: #f33;
}

.event-calendar-month table > tbody > tr > td.weekend.event-presented
{
	color: #f00;
}

.event-calendar-month table > tbody > tr > td.event-presented
{
	background-color: #cf9;
}

.event-calendar-month table > tbody > tr > td.event-presented.out-of-month
{
	background-color: #efd;
	border-color: #ddd;
	color: #ddd;
}

.event-calendar-month table > tbody > tr > td > *
{
	width: 100%;
	height: 100%;
	padding: 13px 0;
	display: block;
	
	color: inherit;
	border: none;
}

.event-calendar-month table > tbody > tr > td .mday
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
}

.event-calendar-month table > tbody > tr > td .month
{
	font-size: 10px;
}
