.event-calendar-year
{
}

.event-calendar-year .month-small
{
	padding: 15px 0;
	width: 32%;
	display: inline-block;
}

.event-calendar-year .month-small .title
{
	text-align: center;
}

.event-calendar-year .month-small table
{
	margin: 3px auto;
	width: 90%;
	border-collapse: collapse;
	border-spacing: 0;
}

.event-calendar-year .month-small table > thead > tr > th
{
	width: 14%;
	height: 30px;
	color: #ddd;
}

.event-calendar-year .month-small table > tbody > tr > td
{
	height: 24px;
	text-align: center;
}

.event-calendar-year .month-small table > tbody > tr > td > *
{
	width: 100%;
	height: 100%;
	display: block;
	
	color: inherit;
	border: none;
}

.event-calendar-year .month-small table > tbody > tr > td.out-of-month
{
	height: 0px;
}

.event-calendar-year .month-small table > tbody > tr > td.out-of-month *
{
	display: none;
}

.event-calendar-year .month-small table > tbody > tr > td.weekend
{
	color: #f33;
}

.event-calendar-year .month-small table > tbody > tr > td.weekend.event-presented
{
	color: #f00;
}

.event-calendar-year .month-small table > tbody > tr > td.event-presented
{
	background-color: #cf9;
}

.event-calendar-year .month-small table > tbody > tr > td.out-of-month.event-presented
{
	background-color: inherit;
}

.event-calendar-year .month-small table > tbody > tr > td .mday
{
	font-size: 18px;
}
