.thread-index
{
	margin-top: 30px;
}

.thread-index .forum-thread
{
	margin-bottom: 20px;
	padding-bottom: 20px;
	
	border-bottom: 1px dashed #999;
}

.thread-index .forum-thread .title
{
	font-size: 18px;
	color: #000;
}

.thread-index .forum-thread .summary
{
	margin-top: 20px;
	padding-left: 20px;
	
	font-size: 13px;
	color: #333;
}
