.thread-view .forum-post
{
	margin: 25px 0;
	line-height: 18px;
}

.thread-view .forum-post .reference
{
	margin-left: 20px;
	display: inline-block;
	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #ccc;
}

.thread-view .forum-post .author
{
	margin-left: 2px;
	margin-right: 20px;
	
	font-size: 20px;
	font-style: italic;
	color: #333;
}

.thread-view .forum-post .timestamp
{
	display: inline-block;
	float: right;
	
	font-size: 12px;
	font-style: italic;
	color: #ccc;
}

.thread-view .forum-post .message
{
	margin-top: 10px;
}

.thread-view .forum-post .replies
{
	margin-left: 40px;
}