#auth-box
{
	height: 30px;
	margin-top: 9px;
	padding: 7px;
	
	overflow: hidden;
	
	display: inline-block;
	float: right;
	
	font-size: 12px;
	
	color: #fff;
}

#auth-box a
{
	color: inherit;
}

#auth-box a:hover,
#auth-box a:active
{
	border-bottom-color: #fff;
}


#auth-box.authorized a:hover,
#auth-box.authorized a:active
{	
	border-bottom-color: #fff;
}

#auth-box .item
{
	margin: 0 10px;
	
	display: block;
	
	font-size: 12px;
	
	text-align: right;
}
