.form
{
	margin-top: 50px;
}

.form .note,
.form .row,
.form .buttons
{
	margin: 20px 0 0;
}

.form .row
{
	min-height: 40px;
}

.form .buttons
{
	margin-right: auto;
	width: 600px;
	text-align: right;
}

span.required
{
	margin-left: -12px;
	font-family: sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #f00;
}

.label
{
	margin-top: 6px;
	margin-right: 50px;
	width: 150px;
	
	display: inline-block;
	
	font-size: 14px;
	text-align: right;
	vertical-align: top;
}

.datetime,
.input,
.textarea,
.hint-message-back
{
	margin-right: 20px;
	
	width: 400px;
	
	display: inline-block;
	vertical-align: top;
}

.input,
.textarea
{
	padding: 3px 5px;
	
	border: 1px solid #aaa;
	border-radius: 3px;
	
	outline: 0;
}

.error-message
{
	padding: 3px 5px;
	
	width: 290px;
	
	display: inline-block;
	vertical-align: top;
	
	color: #f66;
}

.hint-message-back
{
	position: absolute;
	z-index: 9;
	margin: 6px 8px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	
	color: #999;
}

.input
{
	height: 20px;
}

.textarea
{
	height: 100px;
}

.datetime .label
{
	margin-right: 40px;
	width: 85px;
	vertical-align: top;
}

.datetime .input.date
{
	width: 150px;
	vertical-align: top;
}

.datetime .input.time
{
	margin-right: 0px;
	width: 80px;
	vertical-align: top;
}

textarea
{
    resize: none;
}

.label > label:after
{
	content: ':';
}

.input > input,
.input > select,
.textarea > textarea
{
	padding: 1px 0;
	width: 100%;
	height: 100%;
	border: none !important;
	outline: none !important;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

.input.error,
.row.error .textarea
{
	border: 1px solid #f66;
}

.button
{
	margin: 10px;
	padding: 1px 6px;
	
	height: 40px;
	
	display: inline-block;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #111;
	text-shadow: 1px 1px 1px #ccc;
	
	text-align: center;
	vertical-align: middle;
	
	border-radius: 3px;
	background-color: #ccc;
	cursor: pointer;
	
	border: 1px solid #999;

	background: -webkit-gradient( linear, left top, left bottom, from( #ccc ), to( #999 ) );
	background: -moz-linear-gradient( top, #ccc, #999 );
	background-image: -o-linear-gradient( #ccc, #999 );
}

.button:focus
{
	outline: 0;
}

.button:hover
{
	color: #111;
	
	border: 1px solid #999;
	
	background: -webkit-gradient( linear, left top, left bottom, from( #ccc ), to( #777 ) );
	background: -moz-linear-gradient( top, #ccc, #777 );
	background-image: -o-linear-gradient( #ccc, #777 );
}

.button:active
{
	color: #000;
	
	border: 1px solid #999;
	
	text-shadow: none;
	
	background: -webkit-gradient( linear, left top, left bottom, from( #777 ), to( #999 ) );
	background: -moz-linear-gradient( top, #777, #999 );
	background-image: -o-linear-gradient( #777, #999 );
}

.button.submit
{
	width: 200px;
	
	border: 1px solid #493;
	
	background: -webkit-gradient( linear, left top, left bottom, from( #7d6 ), to( #493 ) );
	background: -moz-linear-gradient( top, #7d6, #493 );
	background-image: -o-linear-gradient( #7d6, #493 );
}

.button.submit:hover
{
	color: #111;
	
	border: 1px solid #493;
	
	background: -webkit-gradient( linear, left top, left bottom, from( #7d6 ), to( #372 ) );
	background: -moz-linear-gradient( top, #7d6, #372 );
	background-image: -o-linear-gradient( #7d6, #372 );
}

.button.submit:active
{
	color: #000;
	
	border: 1px solid #493;
	
	text-shadow: none;
	
	background: -webkit-gradient( linear, left top, left bottom, from( #372 ), to( #493 ) );
	background: -moz-linear-gradient( top, #372, #493 );
	background-image: -o-linear-gradient( #372, #493 );
}
