a
{
	border-bottom: 1px dotted #999;
	color: #666;
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:active
{
	border-bottom-color: #000;
	color: #000;
	text-decoration: none;
}

a.big-link
{
	border-bottom: 1px dotted #999;
	
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

a.big-link:hover,
a.big-link:active
{
	border-bottom-color: #000;
	text-decoration: none;
}
