*
{
}

html, body, #outer-wrapper, #inner-wrapper
{	
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#background-wrapper
{
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	background-repeat: no-repeat;
	background-position: center center;
	
	overflow: hidden;
}

#background-wrapper
{
	z-index: 1;
	
	background-color: #eee;
	opacity: 0.5;
}

#outer-header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
	
    width: 100%;
    height: 200px;
	
	overflow: hidden;
    background-color: #eee;
    border-bottom: 1px solid #999;
    opacity: 0.4;
}

#outer-header .logo
{
	position: relative;
	top: 10px;
	left: 300px;
	
	width: 215px;
	height: 165px;
	
	display: block;
	border: none;
	
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: top left;
}

#outer-wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	
	z-index: 10;
	
	width: 100%;
	height: 100%;
}

#inner-wrapper
{
	margin: 130px auto 20px;
	padding: 30px;
    width: 1000px;
	
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 10px;
}

#footer-wrapper
{
    width: 100%;
	height: 1px;
}

#auth-box
{
}

#header
{
	margin-bottom: 70px;
}

#copyleft
{
	text-align: center;
}

#breadcrums
{
	margin-left: 25px;
	margin-bottom: 10px;
	display: inline-block;
	
	font-family: Arial, Helvetica, sans-serif;
}

#content
{
	margin: 0 25px;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
}

h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.flash-error,
.flash-highlight
{
	margin: 0 -25px 10px;
	padding: 10px;
}

.ui-corner-all
{
	font-family: inherit;
}

.mainbar
{
	width: 700px;
	display: inline-block;
	vertical-align: top;
}

.sidebar
{
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.navigation-links
{
}

.navigation-links ul
{
	list-style-type: none;
}

.navigation-links ul > li
{
	display: block;
}

.dotted-underline
{
	border-bottom: 1px dotted #666;
}

.display-block
{
	display: block;
	vertical-align: top;
}

.display-inline-block
{
	display: inline-block;
	vertical-align: top;
}

.display-none,
.hidden
{
	display: none;
}

.align-center
{
	text-align: center;
}

.float-right
{
	float: right;
}
